
<!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
      <p class="text-center text-muted">© Copyright 2017 <a href="#">Nodepop by Cookyourweb</a></p>
      </div>
      <!-- /.container -->
    </footer>
